{% extends "base.html" %}

{% block title %}Edit project{% endblock %}

{% block content %}

<div class="edit-wrapper">
    <div class="edit-box">

        <h2>Edit project</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn-save">Save changes</button>
        </form>

        <a href="{% url 'main_app:one_project' project.id %}">
            <button class="btn-cancel">Cancel</button>
        </a>

    </div>
</div>

{% endblock %}
